@charset "UTF-8";

body {
    margin:0px;
    background-image:radial-gradient(circle, rgba(0,0,0,0),rgba(0,0,0,0),rgba(194, 35, 243, 0.5));
}

.title {
    font-family: 'Manrope', sans-serif;
    text-align:center;
}

/* --- */
/* About Us Page */
/* Intro */
.aboutIntro {
    display:flex;
    justify-content:center;
    align-items:center;
}

.aboutIMG {
    width:200px;
    height:auto;
}

.contain {
    font-family: 'Manrope', sans-serif;
}

/* Main */
.aboutMain {
    font-family: 'Nanum Gothic', sans-serif;
    text-align:center;
}

/* End */
.aboutEnd {
    font-family: 'Nanum Gothic', sans-serif;
    text-align:center;
}

/* --- */
/* About Fade */
.aboutPage {
    animation: abtFade 3s ease-in-out;
}

@keyframes abtFade {
    0% {opacity: 0;}
    30% {opacity: 0;}
    100% {opacity: 1;}
}