@charset "UTF-8";

/* Main Animation */
body {
    margin:0;
}

.top {
    position:relative;
}


/* Background Image */
.bgimage {
    position:relative;
}

.bg {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:auto;

    /* Animation */
    animation:backgroundFade 2s ease-out;
    opacity:0.55;
    z-index:-50;
}

/* Animation */
@keyframes backgroundFade {
    0% {opacity: 0;}
    100% {opacity: 0.55;}
}

/* --- */
/* Video for Home Page */
.vidMain {
    display:flex;
    justify-content:center;
    animation: vidFade 3s ease-in-out;
}

@keyframes vidFade {
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}