@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/*Navigation Bar code*/
.mainnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
    display:flex;
    justify-content:center;
}
    
.mainnav a {
    float: none;
    color: black;
    padding: 16px 50px;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Nanum Gothic', sans-serif;
}
    
.mainnav a:hover {
    color: #8585ff;
}

/*Header for main icon*/
.mainIcon{
    display:flex;
    justify-content:center; 
}

