@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/*Navigation Bar code*/
.mainnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
    display:flex;
    justify-content:center;
}
    
.mainnav a {
    float: none;
    color: black;
    padding: 16px 50px;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Nanum Gothic', sans-serif;
}
    
.mainnav a:hover {
    color: #8585ff;
}

.mainnav .current {
    color:#8585ff;
}

/*Header for main icon*/
.mainIcon{
    display:flex;
    justify-content:center; 
}

/* --- */
/* Navigation Bar Styling */
.top {
    background-color:rgba(232, 226, 226, 0.55);
    width:100%;
    animation:topFade 2s ease-in;
    opacity: 1;
}
@keyframes topFade {
    0% {opacity: 0;}
    30% {opacity: 0;}
    100% {opacity: 1;}
}

/*Footer Stylings*/
.bot {
    display:flex;
    align-content:flex-end;
    justify-content:center;
}
.socialIcon {
    width:50px;
    height:auto;
    animation: socialFade 3s ease-in-out;
}

@keyframes socialFade {
    0% {opacity: 0;}
    70% {opacity: 0;}
    100% {opacity: 1;}
}