@charset "UTF-8";

/*Navigation Bar code*/
.mainnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
    display:flex;
    justify-content:center;
}
    
.mainnav a {
    float: none;
    color: #5C5CFF;
    padding: 16px 50px;
    text-decoration: none;
    font-size: 19px;
}
    
.mainnav a:hover {
    background-color: #ddd;
    color: black;
}

/*Header for Icons*/
.icons{
    display:flex;
    justify-content:center; 
}
